<ul>
  <% @stocks.each do |stock| %>
  <li><%= stock.name_item%> $<%= stock.price%></li>

  <%= form_for Item.new do |f| %>
      <%= f.hidden_field :stock_id, value: stock.id %>
      <%= f.hidden_field :quantity_ordered, value: 1 %>
    <div class="field">
      <%= f.label("Shopping list") %>
      <%= f.collection_select :shoppinglist_id, current_user.shoppinglists, :id, :name_shoppinglist %>
    </div>
    <div class="actions">
      <%= f.submit "Add to list"%>
    </div>
    <% end %>
     <% if user_signed_in? && current_user.type_admin %>
      <%= link_to "Edit", edit_stock_path(:id => stock.id) %>
      <%= link_to "Delete", stock_path(:id => stock.id), method: :delete, data: {confirm: "Are you sure you want to delete this?"}, remote: true %>
    <% end %>
  <% end %>
</ul>
