<nav class="navbar navbar-light bg-faded" style="background-color:#CC7657;">
  <%= link_to 'All', stocks_path, class:"navbar-brand", style:"color:#683C2D"    %>
 <% @category.each do |category| %>
  <%= link_to category.name_category, stocks_type_path(:id => category.id), class:"navbar-brand", style:"color:#683C2D" %>
<% end %>
</nav>
<div class="container" style="width:1500px">

<% if user_signed_in? %>
<%= form_tag({controller: "stocks", action: "master_list"}, {:method => "post"}) do%> <%# just a placeholder for choosing of masterlist %>
<%= label_tag :shoppinglist, "Default shopping list:", style:'color:#ec701d;' %>
<%= collection_select :shoppinglist, :master_list_value, current_user.shoppinglists.where(:paid_on=> nil).order(:updated_at),:id, :name_shoppinglist,{:selected => $default_select}, {:class=>'col-5 text-center', :style=> "width: -webkit-fill-available;", id: 'list_master'}  %>
<%= submit_tag "Change", class:'sitebutton'%>
<% end %>
<% end %>

<% if user_signed_in? && current_user.type_admin %>
  <%= link_to 'Add new stock', new_stock_path  %>
<% end %>

<% if @stocks.present? %>
  <%= render "stock" %>
<% else %>
  <p>Sorry we are currently out of stock.</p>
<% end %>



</div>
