<h1></h1>

<nav class="navbar navbar-light bg-faded">
  <% @category.each do |category| %>
  <%= link_to category.name_category, stocks_type_path(:id => category.id), class:"navbar-brand" %>
  </li>
  <% end %>
</nav>
<%= form_for Item.new do |f|%>
<%= f.label("Master shopping list:") %>
<%= f.collection_select :shoppinglist_id, current_user.shoppinglists.where(:paid_on=> nil).order(:updated_at),:id, :name_shoppinglist,{}, {:class=>'col-5 text-center', :style=> "width: -webkit-fill-available;", :id => 'list_master'} %>

<% end %>

<% if user_signed_in? && current_user.type_admin %>
  <%= link_to 'Add new stock', new_stock_path  %>
<% end %>

<% if @stocks.present? %>
  <%= render "stock" %>
<% else %>
  <p>Sorry we do not have this currently.</p>
<% end %>
