<div class="container">
  <div class="row">
    <h1>Add New Stock</h1>

    <%= form_for [@new_stock] do |f| %>

    <div class="field">
      <%= f.label("Name:") %>
      <%= f.text_field :name_item %>
    </div>

    <div class="field">
      <%= f.label("Price:") %>
      <%= f.text_field :price %>
    </div>

    <div class="field">
      <%= f.label("Category:") %>
      <%= f.number_field :category_id %>
    </div>

    <div class="field">
      <button id ="startScan" type="button">Start input</button>
      <button id="stopScan" type="button">Stop input</button>

      <%= f.label("Barcode:") %>
      <%= f.text_field :barcode, id: 'barcodeField'%>
      <div class="actions">
        <%= f.submit("Add New Stocks", class: 'btn') %>
      </div>
      <div class='container' style='position:relative'>
        <video id="gum-local" autoplay playsinline style='opacity:0.8; object-fit: contain;'></video>
        <canvas class="drawingBuffer" width="640" height="480" style='position:absolute; top:0px; left:0px; float:left; object-fit: contain;'></canvas>
      </div>
    </div>

    <% end %>
  </div>
</div>
