
<h1>Edit your shopping list</h1>
<%= link_to "Start shopping", stocks_path %>



<%= form_for( :shoppinglist , url: user_shoppinglist_path, method: :put) do |f| %>
  <%= f.label('Shopping List name:'), class: 'editfield' %>
  <%= f.text_field :name_shoppinglist, placeholder: @shoppinglist.name_shoppinglist, class: 'form-control' %>
  <%= submit_tag "Save changes", class:"btn btn-primary"%>
<% end %>


<%= link_to "back", user_shoppinglist_path(:id) %>
