
<h1>Edit your shopping list</h1>

<%= @shoppinglist.inspect %>


<%= form_for( :shoppinglist , url: user_shoppinglist_path, method: :put) do |f| %>
  <%= f.label('Shopping List name:') %>
  <!-- TODO:  change to inline form-->
  <%= f.text_field :name_shoppinglist, placeholder: @shoppinglist.name_shoppinglist, class: 'form-control' %>
  <%= submit_tag "Save changes", class:"btn btn-primary"%>
<% end %>

<ul>
<% @shoppinglist.items.each do |item| %>
<%= item.inspect %>
<li><%= item.stock.name_item %></li>
<div class="actions">
  <%# link_to 'Edit', edit_user_shoppinglist_path(:id => shoplist.id) %>
  <%# link_to 'Delete', user_shoppinglist_path(:id => shoplist.id), method: :delete, data: {confirm: "Are you sure you want to delete this?"},remote: true %>
</div>
<% end %>
</ul>

<%= link_to "back", user_shoppinglist_path(:id) %>
