
<h1>Transaction History</h1>
<%# <p> Here are your past purchases with Smart Mart. <br> To re-order a list, click on the corresponding button beside it. </p>
<br> %>
<%= link_to "Back to shopping", stocks_path, class: "btn btn-primary" %>
<% @shoplists.each do |shoplist| %>
<% if shoplist.paid_on %>
<h1>Shopping List:<%= shoplist.name_shoppinglist %></h1>

<table class="table-hover table-striped" style="text-align: center;">
  <thead class="thead-inverse">
    <tr>
      <th style="text-align: left;">Item</th>
      <th>Price</th>
      <th>Amount</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <% shoplist.items.each do |item| %>
  <tbody>
    <tr>
      <th scope="row" style="width: 800px; text-align: left;"><%= item.stock.name_item %></th>
      <td ><%= item.quantity_ordered %></td>
      <td>$<%= '%.2f' %item.stock.price %></td>
      <td>S$<%= '%.2f' % (item.quantity_ordered * item.stock.price)%></td>
      <% end %>
    </tr>
    <tr>
      <td style="text-align: left;">Paid On: <%= shoplist.paid_on %></td>
      <td></td>
      <td></td>
      <td>S$<%= '%.2f' %shoplist.total_price %></td>
      <td><%= button_to 'Duplicate List', user_shoppinglist_history_path, params: {name_shoppinglist: shoplist.name_shoppinglist, oldListId: shoplist.id } %></td>
    </tr>
  </tbody>
</table>

<% end %>
<% end %>
