<h1>Your shopping lists</h1>
<%# <p> Here are your pending grocery lists.
  To preview the enclosed items, scroll through the preview box under each list.<br>
  Click on the titles to edit/remove quantities, and proceed to checkout.</p> %>

<%= form_for @new_shoppinglist, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= f.label 'New list:', style:"color:#ec701d" %>
  <%= f.text_field :name_shoppinglist, :maxlength => 50 %>
  <%# <%= f.text_area :body, size: "60x12" %>
  <%= f.submit "Create", class:'sitebutton' %>
  <br><br>
<% end %>
<%= link_to "Let's go shopping", stocks_path, class:'btn navbarlink' %>

<div class="row">
  <% @shoplists.each do |shoplist| %>
  <% unless shoplist.paid_on %>
  <div class="col-md-4 col-sm-6">
             <div class="card-container manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">  <%= link_to shoplist.name_shoppinglist, user_shoppinglist_path(:id => shoplist.id), class:'cardlink' %></h3>
                                <br>
                                <p class="text-center"><b><%= shoplist.items.length %> item(s)</b></p>
                                <button class="btn btn-simple flipping" style="margin: 0 60px;">
                                  <i class="fa fa-mail-forward"></i> Preview list here
                                </button>
                            </div>
                            <div class="footer">
                              <% if shoplist.items.length<1 %>
                                <%= link_to "Go Shopping", stocks_path %>
                              <% else %>
                                <%= link_to "Checkout", user_shoppinglist_path(:id => shoplist.id) %>
                              <% end %>
                            </div>
                        </div>
                    </div> <!-- end front panel -->

                    <div class="back">
                        <div class="header">
                            <h5 class="motto">Your list item(s) :</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                              <ul class="shoplistlist">
                                <% if shoplist.items.length<1 %>
                                  <p>You have no Items. <%= link_to "Go Shopping", stocks_path %>.</p>
                                <% else %>
                                  <% shoplist.items.each do |item| %>
                                  <li class="shoplistbox"><%=item.stock.name_item %></li>
                                  <% end %>
                                <% end %>
                              </ul>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple flipping" rel="tooltip" title="Flip Card" >
                                <i class="fa fa-reply"></i> Back
                            </button>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->






  <% end %>
  <% end %>
