<h1>Your shopping lists</h1>
<%# <p> Here are your pending grocery lists.
  To preview the enclosed items, scroll through the preview box under each list.<br>
  Click on the titles to edit/remove quantities, and proceed to checkout.</p> %>
<%= link_to "Start shopping", stocks_path %>

<%= form_for @new_shoppinglist, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= f.label('New list:') %>
  <%= f.text_field :name_shoppinglist, :maxlength => 50 %>
  <%# <%= f.text_area :body, size: "60x12" %>
  <%= f.submit "Create" %>
<% end %>

<div class="row">
  <% @shoplists.each do |shoplist| %>
  <% unless shoplist.paid_on %>
  <div class="card-deck col-sm-3">
    <div class="card text-center">
      <div class="card-block">
        <h5 class="card-title", style="height: 40px;">
          <%= link_to shoplist.name_shoppinglist, user_shoppinglist_path(:id => shoplist.id) %>
        </h5>
        <br>
        <ul class="shoplistlist">
          <% shoplist.items.each do |item| %>
            <li class="shoplistbox"><%=item.stock.name_item %></li>
          <% end %>
        </ul>
          <p class"numberitem"><%= shoplist.items.length %> items</p>
        <div class="card-footer">
          <% if shoplist.items.length<1 %>
            <%= link_to "Go Shopping", stocks_path %>
          <% else %>
            <%= link_to "Checkout", user_shoppinglist_path(:id => shoplist.id) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
