<h1>Your shopping list</h1>
<%= link_to "Start shopping", stocks_path %>

<%= form_for @new_shoppinglist, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= f.label('Shopping List name:') %>
  <%= f.text_field :name_shoppinglist %>
  <%# <%= f.text_area :body, size: "60x12" %>
  <%= f.submit "Create" %>
<% end %>

<div class="row">
  <% @shoplists.each do |shoplist| %>
  <% unless shoplist.paid_on %>
  <div class="card-deck col-sm-3">
    <div class="card text-center">
      <div class="card-block">
        <h3 class="card-title", style="height: 99px;">
          <%= link_to shoplist.name_shoppinglist, user_shoppinglist_path(:id => shoplist.id) %>
        </h3>
          <p><%= shoplist.items.length %> items</p>
        <div class="card-footer">
        <%= link_to "Checkout", user_shoppinglist_path(:id => shoplist.id) %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
