<br>

<%= form_for( :shoppinglist , url: user_shoppinglist_path, method: :put) do |f| %>
  <%= f.label  @shoppinglist.name_shoppinglist, class: "pull-left editfield", style: "font-size: 32px; color:#ec701d" %>
  <%= f.text_field :name_shoppinglist, class: 'clickedit'%>
  <span style="font-size:25px">&#9998;</span>
  <div class="clearfix"></div>
<% end %>
<div class="container">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <% @shoppinglist_items.each do |item| %>
      <% if @shoppinglist_items.length == 0 %>
      <td> There are no items in your shopping list. </td>
      <% end %>
    <tbody>
      <tr>
        <td><%= item.stock.name_item%></td>
        <td>$<%= '%.2f' % item.stock.price%></td>
        <td>
          <%= button_to "-", item_path(:id => item.id), method: :put, params: {operation: "minus"}, :class => 'btn btn-mini', form: {style: 'display:inline-block;'}, remote: true%>
          <%= item.quantity_ordered %>
          <%= button_to "+", item_path(:id => item.id), method: :put, params: {operation: "add"},  :class => 'btn btn-mini', form: {style: 'display:inline-block;'}, remote: true%>
        </td>
        <td class="table-active">S$<%=  '%.2f' % (item.stock.price * item.quantity_ordered) %></td>
        <td><%= link_to "X",  item_path(:id => item.id), method: :delete, data: {confirm: "Are you sure you want to delete this?"}, remote: true, class: "text-danger" %></td>
      </tr>
      <% end %>
      <tr class="table-warning">
        <td>Your total:</td>
        <td></td>
        <td></td>
        <td class="table-active">S$<%= '%.2f' % @shoppinglist.total_price %></td>
        <td>
      </tr>
    </tbody>
  </table>
</div>



  <%= link_to "Create another shopping list", user_shoppinglists_path(:id), class: "btn sitebutton" %>
  <%= link_to 'Delete', user_shoppinglist_path(:id), method: :delete, data: {confirm: "Are you sure you want to delete this?"},  class: "btn sitebutton" %>
</div>
  <%# edit %>

  <br>
<div class="container">

  <%= form_tag charges_test_path(@shoppinglist.id) do %>
  <%# <%= hidden_field_tag ‘amount’, @shoppinglist.total_price * 100 %>
  <article>
    <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
    <% end %>

<% unless (@shoppinglist.items.length < 1 ||  @shoppinglist.paid_on) %>
    <label class="amount" style="font-size:30px">
      <span><strong>Checkout your cart : S$<%= '%.2f' % (@amount/100).to_f %></strong></span>
    </label>
    &nbsp; &nbsp;
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-description="Total amount for <%= @shoppinglist.name_shoppinglist %>"
    data-amount=<%= @amount %>
    data-currency="sgd"
    data-locale="auto"></script>
  </article>
  <% end %>
  <% end %>


  </div>
