<%= link_to "Start shopping", stocks_path %>
<br>
<h1>Confirm: '<%= @shoppinglist.name_shoppinglist %>'</h1>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Subtotal</th>
        <th>Remove</th>

      </tr>
    </thead>
    <% @shoppinglist_items.each do |item| %>
    <tbody>
      <tr>
        <td><%= item.stock.name_item%></td>
        <td>$<%='%.2f' % item.stock.price%></td>
        <td><%= item.quantity_ordered %></td>
        <td>$<%='%.2f' % (item.stock.price * item.quantity_ordered) %></td>
        <td><%= link_to "X",  item_path(:id => item.id), method: :delete, data: {confirm: "Are you sure you want to delete this?"}, remote: true %></td>
      </tr>
      <% end %>
      <tr>
        <td>Your total:</td>
        <td></td>
        <td></td>

        <td>$<%='%.2f' % @shoppinglist.total_price %></td>
      </tr>
    </tbody>
  </table>
</div>



  <%= link_to 'Edit', edit_user_shoppinglist_path(:id), class: "btn btn-secondary" %>

  <%= link_to "Back", user_shoppinglists_path(:id) %>
</div>
  <%# edit %>

  <%= form_tag charges_test_path(@shoppinglist.id) do %>
  <%# <%= hidden_field_tag ‘amount’, @shoppinglist.total_price * 100 %>
  <article>
    <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
    <% end %>
    <label class="amount">
      <span>Your total amount: $<%= @amount/100 %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-description="Total amount for <%= @shoppinglist.name_shoppinglist %>"
  data-amount=<%= @amount %>
  data-locale="auto"></script>
  <% end %>
