<%= link_to "Start shopping", stocks_path %>
<br>
<%# @shoppinglist.inspect %>
<h1>Items in <%= @shoppinglist.name_shoppinglist %></h1>

<ul>
<% @shoppinglist_items.each do |item| %>
<li><%= item.stock.name_item%>, $<%= item.stock.price%> x<%= item.quantity_ordered %>
  <%= button_to "-", item_path(:id => item.id), method: :put, params: {operation: "minus"}%>
  <%= button_to "+", item_path(:id => item.id), method: :put, params: {operation: "add"} %>
  <%= link_to "X",  item_path(:id => item.id), method: :delete, data: {confirm: "Are you sure you want to delete this?"}, remote: true %>
</li>
<p>Total price: <%= (item.stock.price * item.quantity_ordered) %></p>
<% end %>


    <p>Your Total: $<%= @shoppinglist.total_price %></p>
  </ul>


  <%= link_to 'Edit', edit_user_shoppinglist_path(:id), class: "btn btn-secondary" %>

  <%= link_to "Back", user_shoppinglists_path(:id) %>
</div>
  <%# edit %>

  <%= form_tag charges_test_path(@shoppinglist.id) do %>
  <%# <%= hidden_field_tag ‘amount’, @shoppinglist.total_price * 100 %>
  <article>
    <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
    <% end %>
    <label class="amount">
      <span>Your total amount: $<%= @amount/100 %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-description="Total amount for <%= @shoppinglist.name_shoppinglist %>"
  data-amount=<%= @amount %>
  data-locale="auto"></script>
  <% end %>
