<h2>Thank you for shopping with Smart Mart.</h2>
<p> Your orders in '<%= @shoppinglist.name_shoppinglist %>' are being processed, and we will send you an email shortly to: <%= current_user.email %>.<br>
If you'd like to adjust your email address, please click <%=link_to 'here', edit_user_registration_path(id: current_user.id) %>. </p>

<div class="container">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <% @shoppinglist_items.each do |item| %>
      <% if @shoppinglist_items.length == 0 %>
      <td> There are no items in your shopping list. </td>
      <% end %>
    <tbody>
      <tr>
        <td><%= item.stock.name_item%></td>
        <td>$<%= '%.2f' % item.stock.price%></td>
        <td>
          <%= item.quantity_ordered %>
        </td>
        <td class="table-active">S$<%=  '%.2f' % (item.stock.price * item.quantity_ordered) %></td>
      </tr>
      <% end %>
      <tr class="table-info">
        <td>Amount paid and received:</td>
        <td></td>
        <td></td>
        <td class="table-active">S$<%= '%.2f' % @shoppinglist.total_price %></td>
      </tr>
    </tbody>
  </table>
</div>


<%= link_to "START SHOPPING AGAIN", stocks_path, class: "btn" %>
