<!DOCTYPE html>
<html>
  <head>
    <title>SmartestMart</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="stocks show" style="background-color:#FAF3E7">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#FF946D ;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <a class="navbar-brand" id= "mainTitle" href="/" style= "color:#824B38">Smart Mart</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01" >
    <ul class="nav navbar-nav pull-sm-left" >
      <li class="nav-item nav-link"><%= link_to "Start shopping", stocks_path, class: "btn navbarlink", method: :get %></li>
    </ul>
    <ul class="nav navbar-nav mx-auto">
      <%= form_tag(stocks_path, :id => 'search', method: :get) do %>
      <%= hidden_field_tag :button , "searching" %>
      <%= text_field_tag :term, params[:term], placeholder: "Enter keyword or barcode", style: "display: inline; color:#FF946D; background-color:#FAF3E7;", size: 40%>
      <%= submit_tag 'Search', class: "btn navbarlink", name: nil %>
      <% end %>
      &nbsp;
      &nbsp;
      &nbsp;

      <%= button_to 'Barcode', stocks_show_path, class: "btn navbarlink", method: :get %>
    </ul>
    <ul class ="nav navbar-nav pull-sm-right">
      <% unless user_signed_in? %>
        <li class="nav-item nav-link"><%= link_to "Login", new_user_session_path, class: 'btn navbarlink' %></li>
        <li class="nav-item nav-link"><%= link_to "Register", new_user_registration_path, class: 'btn navbarlink' %></li>
      <% else %>
      <div class="dropdown show">
        <a class="btn nav-link dropdown-toggle" href="/edit" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#FAF3E7;">
          Shopping Lists
        </a>
        <div class="dropdown-menu dropdown-menu-right navbarlink" aria-labelledby="navbarDropdownMenuLink">
          <li class="dropdown-item"><%= link_to "Overview", user_shoppinglists_path(current_user), class:"navbarlink" %></li>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Active Lists</h6>
          <% current_user.shoppinglists.each do |shoppinglist| %>
            <% if !shoppinglist.paid_on %>
              <li class="dropdown-item"><%= link_to shoppinglist.name_shoppinglist, user_shoppinglist_path(current_user, shoppinglist.id), class:"navbarlink" %></li>
            <% end %>
          <% end %>
          <% if current_user.shoppinglists.where(:paid_on=> nil).count==0 || current_user.shoppinglists.empty? %>
            <li class="dropdown-item">You have no lists, create one <%= link_to "here", user_shoppinglists_path(current_user) %>.</li>
          <% end %>
        </div>
      </div>
      <div class="dropdown show">
        <a class="btn nav-link dropdown-toggle" href="/edit" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#FAF3E7;">
          <%= current_user.name %>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbarlink" aria-labelledby="navbarDropdownMenuLink">
          <li class="dropdown-item"><%= link_to "Edit Profile", edit_user_registration_path(current_user), class:"navbarlink" %></li>
          <li class="dropdown-item"><%= link_to "Transaction History", user_shoppinglist_history_path(current_user), class:"navbarlink" %></li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-item">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"navbarlink" %>
          </li>
        </div>
      </div>
      <% end %>
    </ul>
  </div>
</nav>
<!-- start of content -->
    <div class="container" >
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= raw(value) %></div>
      <% end %>
      <!-- <pre>
  <%= params %>
</pre> -->
    <%= yield %>
    </div>
<br>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Brought to you by Team Dang Dang (<a href="https://github.com/Persisn">Persis Ngan</a>, <a href="https://github.com/thamjieying">Jieying Tham</a>, <a href="https://github.com/imjustlooking">Gabriel Lu</a>) on Rails 5 and Bootstrap 4.</span>
      </div>
    </footer>

  </body>
</html>
